<template name="chart1">
  <div>
    <div class="row">
      <div class="col-lg-3">
        {{> usertexbox name="test" data_vis="12"}}
      </div>
      <div class="col-lg-3">
        {{> apptextbox}}
      </div>
      <div class="col-lg-3">
        {{> datetypeselector data_vis="12"}}
      </div>
      <div class="col-lg-3">
        {{> sortbutton data_vis="12"}}
      </div>
    </div>

    <div class="row">
        <div class="chart_container" data_vis="12"></div>
    </div>
  </div>
</template>
